.normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}
.frameTable {
	background-color: #000000;
	width: 700px;
}
.mainTable {
	background-color: #FFFFFF;
	width: 100%;
	margin: 1px;
}
.headerstyle {
	color: #000000;
}
body {
	background-color: #666666;
	background-image: url(../images/bg.jpg);
	margin-top: 0px;
}
.gallery {
	background-color: #000000;
	margin-top: 0px;
}
.footer {
	color: #336699;
	text-decoration: none;
}

.captionStyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
 
